# MongoDB Configuration
MONGODB_URI=mongodb://username:password@localhost:27017/fuse?authSource=admin

# App Configuration
PORT=3000
NODE_ENV=development

# Business constants
SUMMARY_REFRESH_THRESHOLD_HRS = 6 * 30 * 24