# MongoDB Configuration
MONGODB_URI=mongodb://username:password@localhost:27017/fuse?authSource=admin

REDIS_URI=redis://localhost:6379

# App Configuration
PORT=3000
NODE_ENV=development

SCRAPPER_QUEUE=scrapper-queue
SESSION_SECRET=secret

# Business constants
SUMMARY_REFRESH_THRESHOLD_HRS = 6 * 30 * 24