# MongoDB Configuration
MONGODB_URI=mongodb://username:password@localhost:27017/fuse?authSource=admin
REDIS_URI=redis://localhost:6379

# App Configuration
APPSERVER_PORT=4000
NODE_ENV=development

JWT_SECRET=secret-key
SCRAPPER_QUEUE=scrapper-queue

CORS_ORIGINS=http://localhost:3000,http://localhost:3001

# Business constants
SUMMARY_REFRESH_THRESHOLD_HRS=3600

GEMINI_API_KEY=gemin-api-key
GEMINI_MODEL_NAME=gemini-2.0-flash
GOOGLE_JSON_SEARCH_API_KEY=google-json-search-api-key


SQS_URI=http://localhost:9324
SQS_REGION=us-west-1
SQS_ACCESS_KEY_ID=dummy_access_key
SQS_SECRET_ACCESS_KEY=dummy_secret_key
SCRAPPER_QUEUE=scrapper-queue