# MongoDB Configuration
MONGODB_URI=mongodb://username:password@localhost:27017/fuse?authSource=admin
REDIS_URI=redis://localhost:6379

# App Configuration
APPSERVER_PORT=4000
NODE_ENV=development

# auth
JWT_SECRET=secret-key
CORS_ORIGINS=http://localhost:3000,http://localhost:3001

# summary cache time. retry summary after
SUMMARY_REFRESH_THRESHOLD_HRS=3600

# gemini api for summarizing
GEMINI_API_KEY=gemin-api-key
GEMINI_MODEL_NAME=gemini-2.0-flash

# search google api
GOOGLE_JSON_SEARCH_API_KEY=google-json-search-api-key
GOOGLE_CSE_ID=google-search-engine-id


# sqs queue config
SQS_URI=http://localhost:9324
SQS_REGION=us-west-1
SQS_ACCESS_KEY_ID=dummy_access_key
SQS_SECRET_ACCESS_KEY=dummy_secret_key

# scrapping tasks msgs into this queue
SCRAPPER_QUEUE=scrapper-queue